---
import BaseHead from '../components/Head/BaseHead.astro';
import Nav from '../components/Nav.astro';
import HomeHeader from '../components/HomeHeader.astro';
import Footer from '../components/Footer/Footer.astro';
import EmailSignup from '../components/Subscribe/EmailSignup.astro';

interface MarkdownFrontmatter {
  date: number;
}

const title = 'About Nikola Balić';
const description = 'Nikola Balic, Head of Science and Innovation at UNIST, Growth Lead at Codeanywhere. I talk startups, innovation, technology transfer, intellectual property, digital transformation, growth and copywriting. I\'ve been around, I\'ve seen things. I help businesses grow, write the words that sell. I speak, I write. My website, check it out.';
const seoDescription = 'Nikola Balic, Head of Science and Innovation at UNIST, Growth Lead at Codeanywhere. I talk startups, innovation, technology transfer, intellectual property, digital transformation, growth and copywriting. I\'ve been around, I\'ve seen things. I help businesses grow, write the words that sell. I speak, I write. My website, check it out.';

---

<html lang="en">

<head>
  <BaseHead title={title} description={seoDescription} />
</head>

<body class="bg-white text-black font-body leading-normal personality-casual">
  <Nav />

  <main class="py-12 lg:py-20">
    <!-- component -->
    <div class="py-16 bg-white">  
    <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
        <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
            <div class="md:5/12 lg:w-5/12">
            <img src="/images/2022_nikola_sarajevo.jpeg" alt="image" loading="lazy" width="" height="">
            </div>
            <div class="md:7/12 lg:w-6/12 smaller">
            <h1 class="text-2xl text-gray-900 font-bold md:text-4xl">{title}</h1>
            <pre>
              <p>Successfully spent 34 million EUR of EU projects over the last 4 years, together with my team.</p>
              
              <p>In night shift, own and run a boutique consultancy since 2018, focusing on growth through digitalisation, automation, and inbound marketing.</p>
              
              <p>Serving as growth lead at Codeanywhere, aligning content, product, and customer experience.</p>
              
              <p>Advising the management of Swiss fintech startup <a href="https://numarics.com/" target="_blank">Numarics</a> on their explosive growth trajectory since under 20 employees, now more than 150 on multiple locations and countries.</p>
              
              <h2>ADVISORY AND SUPPORT</h2>
              <ul>
                <li>Created new products, placed them on the market and watched them grow company revenue 54% YoY.</li>
                <li>Proven track record of helping companies grow, managing projects with significant funding, and providing valuable mentorship and advisory services.</li>
                <li>Helped more than 100 companies develop new products and services, diversify their business activities, access funding, and internationalize their activities.</li>
                <li>Implemented automation and digitalisation solutions which are in opperation for more than 2 years with 100% availability.</li>
              </ul>
              
              <h2>RESEARCH AND INNOVATION</h2>
              <ul>
                <li>Played a major role in designing proposals and winning grants for the creation of the European University of the Seas (SEA-EU).</li>
                <li>Served as the member of the subcommittee for RDIS of the SEA-EU.</li>
                <li>Doing research in the course of a PhD on Digital Transformation.</li>
              </ul>
              
              <h2>KNOWLEDGE VALORISATION AND INTELLECTUAL PROPERTY</h2>
              <ul>
                <li>Horizon IP Scan expert providing IPR advisory services for Horizon Europe beneficiaries.</li>
                <li>Created first IP policy at the University of Split.</li>
                <li>Designed and implemented the first major KTT project in Dalmatia - TTAdria.</li>
                <li>Served as European IPR Helpdesk ambassador for 9 years and innovation, business, and sustainability advisor for "Enterprise Europe Network" since 2009.</li>
                <li>Gave numerous public lectures on topics such as IPR, innovations, sustainability, entrepreneurship, and technology transfer.</li>
              </ul>
              
              <h2>INNOVATION AND ENTREPRENEURSHIP ECOSYSTEM</h2>
              <ul>
                <li>Actively building innovation systems and supporting entrepreneurial and innovative researchers and companies for the last 14 years.</li>
                <li>Project managed establishment of the first business and high-tech incubator in Split, valued at 3 million EUR.</li>
              </ul>
              
              <p>FAILS</p>
              <ul>
                <li>Participated as a country partner in the establishment of a VC fund, which unfortunately was unsuccessful.</li>
              </ul>
              </pre>  
          </div>
        </div>
    </div>
    </div>

  </main>

  <EmailSignup />
  <Footer />
</body>

</html>