---
import BaseHead from '../components/Head/BaseHead.astro';
import Nav from '../components/Nav.astro';
import HomeHeader from '../components/HomeHeader.astro';
import Footer from '../components/Footer/Footer.astro';
import EmailSignup from '../components/Subscribe/EmailSignup.astro';

interface MarkdownFrontmatter {
  date: number;
}

const title = 'About Nikola Balić';
const description = 'I talk startups, innovation, technology transfer, intellectual property, digital transformation, growth and copywriting. I\'ve been around, I\'ve seen things. I help businesses grow, write the words that sell.';
const seoDescription = 'I talk startups, innovation, technology transfer, intellectual property, digital transformation, growth and copywriting. I\'ve been around, I\'ve seen things. I help businesses grow, write the words that sell.';

---

<html lang="en">

<head>
  <BaseHead title={title} description={seoDescription} />
</head>

<body class="bg-white text-black font-body leading-normal personality-casual">
  <Nav />

  <main class="py-12 lg:py-20">
    <!-- component -->
    <div class="py-16 bg-white">  
    <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
        <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
            <div class="md:5/12 lg:w-5/12">
                <img src="/images/2022_nikola_sarajevo.jpeg" alt="image" loading="lazy" width="" height="" class="object-cover">
            </div>
            <div class="md:7/12 lg:w-6/12 smaller mx-auto py-4 space-y-4">
                <h1 class="text-2xl text-gray-900 font-bold md:text-4xl">{title}</h1>

                <p>I am Head of Growth in <a href="https://www.daytona.io/">Daytona</a>. We are raising the first round and serving our first enterprise clients. We are on a mission to increase development velocity through standardized development environments.</p>
                
                <p>Over the past four years (2019-2023), with the support of my team at the <a href="https://www.unist.hr/">University of Split</a>, I have justified the expenditure of 34 million EUR on EU projects, creating value for the knowledge ecosystem in Split.</p>
                
                <p>In the night shift, I own and run a boutique consultancy since 2018, focusing on growth through digitalization, automation, and inbound marketing.</p>
                
                <p>I have been the growth lead at <a href="https://codeanywhere.com/">Codeanywhere</a>, where I align content, product development, and customer experience.</p>
                
                <p>Moreover, I have been advising the management of Swiss fintech startup <a href="https://numarics.com/">Numarics</a>, helping them achieve explosive growth from fewer than 20 employees to over 150 across different locations and countries.</p>
                
                <h2>Achievements and Expertise:</h2>
                
                <ul>
                <li>Introduced digitalization, created and launched new products in the nutritional supplements industry, and achieved a 54% year-on-year revenue growth.</li>
                <li>Track record of facilitating company growth, managing projects with substantial funding, and providing mentorship and advisory services.</li>
                <li>Transformed 200+ companies by developing new products, expanding their horizons, securing funds, and solidifying their international footprint.</li>
                <li>Implemented automation and digitalization solutions operating with 100% availability for over two years.</li>
                </ul>
                
                <h2>Research and Innovation:</h2>
                
                <ul>
                <li>Played a major role in designing proposals and securing grants for the creation of the <a href="https://sea-eu.org/">European University of the Seas (SEA-EU)</a>.</li>
                <li>Served as a member of the subcommittee for Research, Development, and Innovation Strategies (RDIS) of SEA-EU.</li>
                <li>Currently conducting research as part of a PhD on Digital Transformation.</li>
                <li><a href="https://orcid.org/0000-0002-4405-1470">Writing and publishing research</a> when inspiration strikes.</li>
                </ul>
                
                <h2>Intellectual Property and Knowledge Valorisation:</h2>
                
                <ul>
                <li>Expert for <a href="https://intellectual-property-helpdesk.ec.europa.eu/services/horizon-ip-scan_en">Horizon IP Scan</a>, providing advisory services on intellectual property rights for Horizon Europe beneficiaries.</li>
                <li>Developed and implemented the first Intellectual Property (IP) policy at the <a href="https://www.unist.hr/">University of Split</a>.</li>
                <li>Designed and executed the first major Knowledge Transfer and Technology (KTT) project in Dalmatia - TTAdria.</li>
                <li>I was a long-term ambassador for the <a href="https://intellectual-property-helpdesk.ec.europa.eu/regional-helpdesks/european-ip-helpdesk_en">European IPR Helpdesk</a>, supporting innovation, business, and sustainability since 2009.</li>
                <li>Deliver frequent public lectures on IP rights, innovations, sustainability, entrepreneurship, and technology transfer topics.</li>
                </ul>
                
                <h2>Innovation and Entrepreneurship Ecosystem:</h2>
                
                <ul>
                <li>Actively involved in building innovation systems and supporting entrepreneurial and innovative researchers and companies for the past 14 years.</li>
                <li>Successfully project-managed establishing the first business and high-tech incubator in Split.</li>
                <li>Mentor for <a href="https://labenaventures.com/mentors/">Labena Ventures</a>.</li>
                <li>Business mentor for <a href="https://en.hamagbicro.hr/">Croatian Agency for SMEs, Innovation and Investments (HAMAG-BICRO)</a>.</li>
                </ul>
                
                <h2>Learning from Failures:</h2>
                
                <p>Participated as a country partner in establishing a technology transfer VC fund, which unfortunately was unsuccessful.</p>
                
                <p><strong>An adept polymath in the universe of growth and digital transformation, an expert startup consultant nurturing the entrepreneurial ecosystem one stride at a time - this is <a href="https://www.linkedin.com/in/nikolabalic/">Nikola Balic</a>.</strong></p>                
            </div>
        </div>
    </div>
    </div>

  </main>

  <EmailSignup />
  <Footer />
</body>

</html>