---
import BaseHead from '../components/Head/BaseHead.astro';
import Nav from '../components/Nav.astro';
import HomeHeader from '../components/HomeHeader.astro';
import Footer from '../components/Footer/Footer.astro';
import EmailSignup from '../components/Subscribe/EmailSignup.astro';

interface MarkdownFrontmatter {
  date: number;
}

const title = 'About Nikola Balić';
const description = 'Nikola Balic, Head of Science and Innovation at UNIST, Growth Lead at Codeanywhere. I talk startups, innovation, technology transfer, intellectual property, digital transformation, growth and copywriting. I\'ve been around, I\'ve seen things. I help businesses grow, write the words that sell. I speak, I write. My website, check it out.';
const seoDescription = 'Nikola Balic, Head of Science and Innovation at UNIST, Growth Lead at Codeanywhere. I talk startups, innovation, technology transfer, intellectual property, digital transformation, growth and copywriting. I\'ve been around, I\'ve seen things. I help businesses grow, write the words that sell. I speak, I write. My website, check it out.';

---

<html lang="en">

<head>
  <BaseHead title={title} description={seoDescription} />
</head>

<body class="bg-white text-black font-body leading-normal personality-casual">
  <Nav />

  <main class="py-12 lg:py-20">
    <!-- component -->
    <div class="py-16 bg-white">  
    <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
        <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
            <div class="md:5/12 lg:w-5/12">
            <img src="/images/2022_nikola_sarajevo.jpeg" alt="image" loading="lazy" width="" height="">
            </div>
            <div class="md:7/12 lg:w-6/12 smaller">
            <h1 class="text-2xl text-gray-900 font-bold md:text-4xl">{title}</h1>
            <p class="mt-6 text-gray-600">Successfully spent 34 million EUR of EU projects over the last 4 years, together with my team.</p>
<p class="mt-6 text-gray-600">In night shift, own and run a boutique consultancy since 2018, focusing on growth through digitalisation, automation, and inbound marketing.</p>
<p class="mt-6 text-gray-600">Serving as growth lead at Codeanywhere, aligning content, product, and customer experience.</p>
<p class="mt-6 text-gray-600">Advising the management of Swiss fintech startup Numarics on their explosive growth trajectory since under 20 employees, now more than 150 on multiple locations and countries.</p>
<ul>
    <li>
        <p class="mt-6 text-gray-600">Created new products, placed them on the market and watched them grow company revenue 54% YoY.</p>
    </li>
    <li>
        <p class="mt-6 text-gray-600">Proven track record of helping companies grow, managing projects with significant funding, and providing valuable mentorship and advisory services.</p>
    </li>
    <li>
        <p class="mt-6 text-gray-600">Helped more than 100 companies develop new products and services, diversify their business activities, access funding, and internationalize their activities.</p>
    </li>
    <li>
        <p class="mt-6 text-gray-600">Implemented automation and digitalisation solutions which are in operation for more than 2 years with 100% availability.</p>
    </li>
</ul>
<ul>
    <li>
        <p class="mt-6 text-gray-600">Played a major role in designing proposals and winning grants for the creation of the European University of the Seas (SEA-EU).</p>
    </li>
    <li>
        <p class="mt-6 text-gray-600">Served as the member of the subcommittee for RDIS of the SEA-EU.</p>
    </li>
    <li>
        <p class="mt-6 text-gray-600">Doing research in the course of a PhD on Digital Transformation.</p>
    </li>
</ul>
<ul>
    <li>
        <p class="mt-6 text-gray-600">Horizon IP Scan expert providing IPR advisory services for Horizon Europe beneficiaries.</p>
    </li>
    <li>
        <p class="mt-6 text-gray-600">Created first IP policy at the University of Split.</p>
    </li>
    <li>
        <p class="mt-6 text-gray-600">Designed and implemented the first major KTT project in Dalmatia - TTAdria.</p>
    </li>
    <li>
        <p class="mt-6 text-gray-600">Served as European IPR Helpdesk ambassador for 9 years and innovation, business, and sustainability advisor for "Enterprise Europe Network" since 2009.</p>
    </li>
    <li>
        <p class="mt-6 text-gray-600">Gave numerous public lectures on topics such as IPR, innovations, sustainability, entrepreneurship, and technology transfer.</p>
    </li>
</ul>
<ul>
    <li>
        <p class="mt-6 text-gray-600">Actively building innovation systems and supporting entrepreneurial and innovative researchers and companies for the last 14 years.</p>
    </li>
    <li>
        <p class="mt-6 text-gray-600">Project managed establishment of the first business and high-tech incubator in Split, valued at 3 million EUR.</p>
      </li>
      
      </ul>
      <p class="mt-6 text-gray-600">Fails:</p>
      <ul>
          <li>
              <p class="mt-6 text-gray-600">Participated as a country partner in the establishment of a VC fund, which unfortunately was unsuccessful.</p>
          </li>
      </ul>

          
        </div>
        </div>
    </div>
    </div>

  </main>

  <EmailSignup />
  <Footer />
</body>

</html>