---
import BaseHead from '../components/Head/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer/Footer.astro';
import EmailSignup from '../components/Subscribe/EmailSignup.astro';

const title = 'Nikola Now';
const seoDescription = 'Nikola Balic, What I’m doing now';

import * as now from './now/now.md';

interface MarkdownFrontmatter {
  location: string;
  updated: string;
}

const Now = now as { frontmatter: MarkdownFrontmatter, Content: unknown };
---

<html lang="en">

<head>
  <BaseHead title={title} description={seoDescription} />
</head>

<body class="bg-white text-black font-body leading-normal personality-casual">
  <Nav />

  <main class="py-12 lg:py-20">

<!-- component -->
    <div class="p-8">
        <div class="bg-white p-4 rounded-lg py-8 mt-12">
            <h4 class="text-4xl font-bold text-gray-800 tracking-widest uppercase text-center">What I’m doing now</h4>
            <p class="text-center text-gray-600 text-sm mt-2">This is <a href="https://nownownow.com/about">a now page</a>, and if you have your own site, <a href="https://nownownow.com/about">you should make one</a>, too.</p>
            <p class="text-center text-gray-600 text-sm mt-2">Updated on {Now.frontmatter.updated}, from my home in {Now.frontmatter.location}.</p>
    
            <div class="space-y-6 px-2 xl:px-16 mt-12">

                <Now.Content />

            </div>
        </div>
    </div>

  </main>

  <EmailSignup />
  <Footer />
</body>

</html>
