---
import dayjs from 'dayjs'

export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<a href={post.url}
  class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden"
  data-test="article-card">

  <img class="" src={post.frontmatter.hero} alt={post.frontmatter.title} width="360" height="192">
  <div class="relative py-6 px-8">
    {post.frontmatter.core && 
    <div class="absolute -right-0 -top-4 text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-cyan-600 bg-cyan-200 uppercase last:mr-0 mr-1">
        CORE TOPIC
    </div>
    }
    <h2 class="font-bold text-2xl leading-tight">
      {post.frontmatter.title}
    </h2>
    <p class="text-xs text-gray-600 mt-4 flex items-center">
      {dayjs(post.frontmatter.date).format('DD-MM-YYYY')}
    </p>
  </div>
</a>

<style>
  img {
    width: 100%;
    aspect-ratio: 15/7;
    object-fit: cover;
  }
</style>